body{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #fff; /* Green */
    padding-top:30px;
    padding-left:10px;
    text-align: center;
    color: black;
    width: 100%;
    height: 80px;
    font-weight: 800;
    display: flex;
    justify-content: space-between;
}

.logo-side h1{
    color: rgb(65, 122, 207);
    font-size: 32px;
}
header .header-lists ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.header-lists{
    width: 60%;
    padding-right: 26px;
    
}
.app{
    border-radius:12px;
    height: 30px;
    width: 180px;
    font-weight: 800;
    /* display: flex;  */
    padding-top: 1px;
    border: 1px solid grey;
    background: none;
}
.app i{
    color: rgb(65, 122, 207);
}
.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background: url("https://forever.travel-assets.com/flex/flexmanager/images/2025/03/24/VRBO_APFT2_BARCELONA_THERIN_HOUSE_2_4605_1.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    zoom: 100%;
    background-blend-mode: darken;
    
}
.search-based{
    color: #fff;
    width: 80%;
    padding: 12px;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 0;
}
.search-box{
    color: black;
    background-color: #fff;
    width: 100%;
    display: flex;
    padding: 26px;
    justify-content: space-between;
   border-radius: 12px;
   margin-top: 20px;
}
.going{
    display: flex;
    color: rgb(32, 32, 32);
    font-size: 17px;
    border: 1px solid rgb(32, 32, 32);
    border-radius: 12px;
    padding: 10px;
    width: 280px;
    height: 30px;
    gap: 9px;
}
.text-data label{
    font-size: 13px;
    font-weight: 600;
    
}
.text-data{
    font-size: 20px;
    padding-left: 12px;
    padding:0;
}
.going input{
    border: none;
    padding: 12px;
    outline: none;
}
.search{
    cursor: pointer;
    background-color: rgb(65, 122, 207);
    width: 83px;
    color: #fff;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 60px;
}
.going i{
    font-size: 20px;
    zoom: 150%;
}
.accom{
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    padding: 40px;
    zoom: 100%;
    background-blend-mode: darken; 
}
.announce{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 20px;
    border-radius: 22px;
    background-color: rgb(7, 0, 40);
    justify-content: space-between;
}
.message{
    display: flex;
      
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}
.msg{
    background-color: rgb(118, 174, 174);
    padding: 12px;
    border-radius: 50%;
}
.an{
    color: #fff;
    background-color: rgb(40, 84, 166);
    height: 40px;
    width: 100px;
    border-radius: 32px;
    border: none;
}
.imaging{
    height: 350px;
    /* background-color: tomato; */
    /* padding: 16px; */
    color: rgb(7, 0, 40);
    font-size:22px ;
    width: 91%;
    overflow: visible;
}
.card{
    width: 400px;
    height: 300px;
    /* min-height: 500px; */
    background: url("https://a.travel-assets.com/findyours-php/viewfinder/images/res70/408000/408465-Constance.jpg")no-repeat;
    border-radius: 20px;
    background-size: cover;
    bottom: 0;
}
.card h5{
    padding-top: 73%;
    padding-left: 10px;
    color: #fff;
    font-weight: 900;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.images-cards{
    margin-top: 22px;
    display: flex;
    gap: 14px;
}
.imaging p{
    font-size: 18px;
}
.cardo{
        width: 300px;
    height: 300px;
    /* min-height: 500px; */
    border-radius: 20px;
    background-size: cover;
    bottom: 0;
}
.cardo img{
        width: 300px;
    height: 230px;
    /* min-height: 500px; */
    border-radius: 20px;
    background-size: cover;
    bottom: 0;
}
.rate{
    background-color: rgb(2, 56, 2);
    color: #fff;
    padding: 6px;
    zoom: 80%;
    width: 25px;
    border-radius: 6px;
}
.ads{
    display: flex;
    gap: 6px;
}
.ads h5{
    display: flex;
    gap: 6px;
}
.cardo h6{
    padding: 2px;
}
.dedication{
    width: 120px;
}
.imagingo{   
    height: 400px;
    /* background-color: tomato; */
    /* padding: 16px; */
    color: rgb(7, 0, 40);
    font-size:22px ;
    width: 91%;
    overflow: hidden;
}
.hollidays-cards{
    /* background-color: tomato; */
    /* padding: 16px; */
    color: rgb(7, 0, 40);
    font-size:22px ;
    width: 91%;
    display: flex;
    justify-content: space-between;
    height: 420px;
    overflow: hidden;
}
.hollidays{
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    padding: 40px;
    zoom: 100%;
    background-blend-mode: darken; 
}
.holliday-card{
    width: 49%;
    color: rgb(7, 0, 40);
    font-size: 16px;
}
.holliday-card img{
    width: 100%;
    border-radius: 16px;
    height: 330px;
}
.cardi{
    width: 300px;
}

.cardin h5{
    padding-top: 93%;
    padding-left: 10px;
    color: #fff;
    font-weight: 900;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cardin{
    width: 400px;
    height: 300px;
    /* min-height: 500px; */
    background: url("https://a.travel-assets.com/findyours-php/viewfinder/images/res70/408000/408465-Constance.jpg")no-repeat;
    border-radius: 20px;
    background-size: cover;
    bottom: 0;
}
.statistics{
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 40px;
    zoom: 100%;
    background-blend-mode: darken; 
}
.statics-cards{
    color: rgb(7, 0, 40);
    font-size:22px ;
    width: 91%;
    display: flex;
    justify-content: space-between;

}
.static-card{
    width: 49%;
    color: rgb(7, 0, 40);
    font-size: 16px;
    padding: 20px;
}
.static-card img{
    width: 19%;
    border-radius: 16px;
    height: 37px;
}

.intro{
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    padding: 40px;
    zoom: 100%;
    background-blend-mode: darken; 
}
.brown{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 500px;
    background-size: cover;
    width: 94%;
    zoom: 100%;
    border-radius: 40px;
    background-blend-mode: darken;
    background: url("https://forever.travel-assets.com/flex/flexmanager/mediaasset/732141-0_2-VRBO_HOSTS_LA_SAUNA_NEBELING_0101.jpg?impolicy=fcrop&w=1400&h=600&q=mediumHigh")no-repeat;
}

.brown-contents{
    color: rgb(7, 0, 40);
    background-color: #fff;
    height: 60%;
    margin-left: 40px;
    width: 25%;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 20px;
}
.brown-contents h1{
    font-size: 39px;
    font-weight: 500;
}
.brown-contents button{
    background-color: rgb(40, 84, 166);
    color:#fff;
    padding: 20px;
    font-size: 24px;
    zoom: 66%;
    border: none;
    border-radius: 40px;
}
.brownk{
    align-items: center;
    height: 500px;
    background-size: cover;
    width: 94%;
    color: rgb(7, 0, 40);
    zoom: 100%;
    border-radius: 40px;
    background-blend-mode: darken;
}
.brownk h1{
    font-size: 40px;
}
.brownk p{
    font-size: 20px;
}
.destination{
    font-size: 29px;
    padding: 30px;
}
.browning{
    background-color:aliceblue;
    padding: 36px;
    align-items: center;
    height: 500px;
    background-size: cover;
    width: 93%;
    color: rgb(7, 0, 40);
    zoom: 100%;
    border-radius: 30px;
}
.footer{
    
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    padding: 10px;

}
.browning center{
    margin-top: 200px;
}
.browning hr{
    width: 90%;
}
.browning img{
    width: 12%;
}
.last-links{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.last-links div{
    gap: 200px;
}